html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: "lores-12", sans-serif;
}

body {
	background: linear-gradient(#0d1f34, #24122c);
	background-repeat: no-repeat;
	background-size: cover;
}
/* Navbar */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	font-family: "lores-12", sans-serif;
	padding-left: 50px;
	padding-right: 50px;
}

nav .logo {
	color: white;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

nav .logo:hover {
	color: #e62e5a;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

ul li {
	position: relative;
}

ul li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 10px 15px;
	display: block;
	transition: background-color 0.3s;
}

ul li a:hover {
	color: #e62e5a;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #24122c;
	min-width: 150px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content li a {
	padding: 10px;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* 4-methods */
.container {
	margin: 100px 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	gap: 100px;
}

h1 {
	font-size: 7rem;
	color: #ffffff;
}

.icons {
	position: relative;
	width: 600px;
	height: 600px;
}

.icon {
	width: 240px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ffffff;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	position: absolute;
	overflow: hidden;
	transition: transform 0.3s;
}

.icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e62e5a;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.icon:hover {
	border-color: #e62e5a;
	box-shadow: 0 0 25px rgba(230, 46, 90, 0.9);
}

.icon img {
	width: 220px;
	height: 220px;
	transform: rotate(-45deg);
	position: relative;
	z-index: 1;
}

.icon:hover::before {
	opacity: 1;
}

/* Custom content for each icon */
.icon::after {
	content: "";
	position: absolute;
	color: #ffffff;
	font-size: 2.2rem;
	z-index: 3;
	opacity: 0;
	transition: opacity 0.3s ease;
	transform: rotate(-45deg);
}

.icon.heart::after {
	content: "Feel";
}

.icon.sun::after {
	content: "Paste";
}

.icon.robot::after {
	content: "Chat";
}

.icon.origami::after {
	content: "Create";
}

.icon:hover::after {
	opacity: 1;
}

/* Position the icons in a diamond shape */
.icon.heart {
	top: 0;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}

.icon.sun {
	left: 0;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.icon.robot {
	right: 0;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.icon.origami {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}
